@import "../../node_modules/bootstrap/scss/functions";

$primary: #5965ce;
$secondary: #c99d00;
$light: #a5acb8;
$danger: #cf5151;
$success: #69ba5b;

@import "../../node_modules/bootstrap/scss/bootstrap";
